.end-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score-message {
    margin: 1em auto;
    text-align: center;
}

#score {
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
}

button {
    width: 40%;
}

#reset-message {
    font-size: smaller;

}